.theTastText {
  text-align: center;
  background-color: rgb(48, 78, 177);
  border-radius: 5px;
  margin: auto;
  padding: 3rem 1rem;
}

.variantLI {
  cursor: pointer;
  background-color: rgb(109, 139, 163);
  border-radius: 5px;
  list-style-position: inside;
  margin: 1rem auto;
  padding: 1rem;
  width: 90%;
  font-weight: 300;
  font-size: 100%;
}

.variantLI_select {
    animation:.4s linear 0s selectON;
    font-weight: 600;
    color: black;
}

@keyframes selectON {
  0%{
    font-weight: 100;
    color: black;
  }
  50%{
    font-weight: 200;
    color: white;
  }
  100% {
    font-weight: 600;
    color: black;
  }
}
